Django==1.9.7
django-suit==0.2.18
django-extensions
django-codemirror-widget
django-reversion==2.0.3
SQLAlchemy
six
dj-database-url
django-wsgiserver==0.8.0rc1
django-uwsgi[uwsgi]
django-uwsgi-cache
python-hglib
requests
honcho
psycopg2
pytz
http://static.dpaw.wa.gov.au/static/py/dpaw-utils/dist/dpaw-utils-0.3a7.tar.gz
restless
