Django==1.7.4
django-suit
django-extensions
django-codemirror-widget
django-reversion
django-redis
SQLAlchemy
six
dj-database-url
django-wsgiserver==0.8.0rc1
django-uwsgi[uwsgi]
python-hglib
requests
honcho
psycopg2
pytz
http://static.dpaw.wa.gov.au/static/py/dpaw-utils/dist/dpaw-utils-0.2a2.tar.gz
restless
