Django==2.2.24
django-suit==0.2.18
django-extensions
django-codemirror-widget
django-reversion==2.0.3
SQLAlchemy
six
dj-database-url
django-wsgiserver==0.8.0rc1
django-uwsgi[uwsgi]
django-uwsgi-cache
python-hglib
requests
honcho
psycopg2
pytz
git+git://github.com/dbca-wa/dpaw-utils@0.3a7
restless
django-confy==1.0.4
gevent==1.4.0
